.landing-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-links {
  width: 100%;
  text-align: center;
}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: 3px 3px 7px 3px lightgray;
  margin-right: 20px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: 0 0 5px lightgray;
  }
}
