.face-snap-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: 0px 0px 20px 4px lightgray;

  img {
    width: 100%;
  }

  h2 {
    margin-bottom: 0px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
  }

  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: 3px 3px 7px 3px lightgray;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: 0px 0px 5px lightgray;
    }
  }
}

.snapped {
    background-color: rgba(lightgreen, 0.4);
    color: darkgreen;
    button {
      box-shadow: 3px 3px 7px 3px lightgreen;
      color: darkgreen;
      &:active {
        box-shadow: 0px 0px 5px lightgreen;
      }
    }
  }